{% autoescape off %}
You're receiving this email because you requested a password reset for your user account at Our Hospital Management System.

Please click the following link to reset your password:
{% block reset_link %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% endblock %}

Your username, in case you've forgotten: {{ user.username }}

If you didn't request this, please ignore this email.

Thank you for using our system!

{% endautoescape %}
