{% load static %}
<header class="bg-white p-2 border-b px-6 border-gray-100 z-50 fixed top-0 py-4 left-0 w-full">
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
            <div>
                <a href="{% url 'home' %}" hx-get="{% url 'home' %}" hx-indicator="#loader" hx-push-url="true" hx-target="#body" hx-swap="outerHTML transition:true" class="flex items-center gap-2">
                    <img src="{% static 'images/logo.svg'%}" class="w-10 h-10" alt="Telfirm Logo">
                    <span class="text-xl text-gray-600">Telfirm</span>
                </a>
            </div>
            
        </div>


        <div class="w-2/5">
            
            {% include 'base/searchbox.html' %}

        </div>

        <div class="pr-5">
            <button hx-get="{% url 'view_notice' %}" hx-target="#body" hx-indicator="#loader" hx-swap="outerHTML transition:true" class="flex relative gap-2 items-center font-medium justify-center" type="button"><span title="Notifications" class="flex items-center gap-1 font-light">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
                </svg>

                <span class="absolute bg-red-500 text-white -top-2 -right-2 rounded-full w-4 h-4 flex items-center justify-center text-[.7rem] p-1">{{nots_num}}</span>
            </button>

        </div>
    </div>
</header>


<div style="height: 70px;"></div>
      
</div>
