<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta name="robots" content="nofollow, noindex">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% include 'base/fonts.html' %}
    {% block head %}
    {% endblock %}
</head>
<body>
    <main>
    {% block content %}{% endblock %}
    </main>
</body>
</html>