{% extends 'base/base.html' %}
{% load redotags %}

{% block head %}
  <title>{{ patient.name }}'s Results | Telfirm HMS</title>
  <!-- Add additional styling or CSS links for enhanced styling -->
{% endblock %}

{% block content %}
  <section class="container mx-auto px-4 mt-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Patient Information -->
      <div class="bg-white p-8 border border-gray-200 rounded">
        <h1 class="text-3xl  mb-4">{{ patient.name }}'s Information</h1>
        <ul class="list-disc pl-4">
          <li><span>Name:</span> {{ patient.name }}</li>
          <li><span>Gender:</span> {{ patient.gender }}</li>
          <li><span>MRN:</span> {{ patient.mrn }}</li>
          <li><span>Date of Birth:</span> {{ patient.date_of_birth }} ({{ patient.age }})</li>
          <li><span>Ward:</span> {{ patient.ward }}</li>
          <li><span>Registered on:</span> {{ patient.admission_date }}</li>
        </ul>
      </div>

      <!-- Allergies -->
      <div class="bg-white p-8 border border-gray-200 rounded">
        <h2 class="text-3xl  mb-4">Allergies</h2>
        {% if patient.allergies %}
          <p>{{ patient.allergies }}</p>
        {% else %}
          <p class="text-red-500">No allergies</p>
        {% endif %}
      </div>
    </div>

    <!-- Medical Conditions and Current Medications -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
      <div class="bg-white p-8 border border-gray-200 rounded">
        <h2 class="text-3xl  mb-4">Medical Conditions</h2>
        {% if patient.medical_conditions %}
          <p>{{ patient.medical_conditions|linebreaks }}</p>
        {% else %}
          <p class="text-red-500">No medical conditions</p>
        {% endif %}
      </div>

      <div class="bg-white p-8 border border-gray-200 rounded">
        <h2 class="text-3xl  mb-4">Current Medications</h2>
        {% if patient.current_medications %}
          <p>{{ patient.current_medications|linebreaks }}</p>
        {% else %}
          <p class="text-red-500">No medications</p>
        {% endif %}
      </div>
    </div>

    <!-- Tests to be done -->
    <div class="bg-white p-8 border mt-10 border-gray-200 rounded">
      <h2 class="text-3xl  mb-4">Tests to be done</h2>

      {% for result in results %}
        <div class="mb-6 border-b border-gray-300 pb-4">
          <p class="text-lg  mb-2">Test name: {{ result.test.name }}</p>
          <p class="text-gray-600 mb-2">Test status: {% if result.done %} <span class="text-green-500">Done</span> {% else %} <span class="text-orange-500">Pending</span> {% endif %}</p>
          {% if result.done %}
          {% else %}
          <button hx-get="{% url 'results' result.test.pk patient.pk %}" hx-target="#results" hx-indicator="#loader" hx-swap="outerHTML transition:true" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded">View Test</button>
          {% endif %}
        </div>
        {% empty %}
        <p class="text-lg text-red-500">No tests to be done</p>
      {% endfor %}
    </div>
  </section>
  <div id="results"></div>
{% endblock %}
