{% extends 'base/base.html' %}

{% block content %}
{% load redotags %}
<section class="py-8 px-4">
    <div class="max-w-screen-sm mx-auto">

<form action="{% url 'create_notice' %}" hx-post="{% url 'create_notice' %}" hx-target="#body" hx-indicator="#loader" hx-swap="outerHTML transition:true" method="post">
    {% csrf_token %}
    <div class="grid gap-6 mb-6">
        <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
            {{form.title|is_input}}
            
        </div>
        <div>
            {{form.content|is_input|redo_holder:"Write your notice here"}}
        </div>
        <div>
    <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create</button></div>
    </div>
</form>
    </div>
</section>



{% endblock %}