{% extends 'base/base.html' %}
{% block head %}

<title>Dashboard</title>

{% endblock %}
{% block content %}

<section class="px-4 py-4">
    <div class="max-w-screen-xl mx-auto">
        <p><span class="font-medium">Hey {{user.name}} -</span><span>Lets kick start your day with great functionality</span></p>

        <div class="mt-6">
            <h1 class="text-3xl">Recent Admissions</h1>
        </div>

        <div>







        </div>
    </div>
</section>


{% include 'main/sect.htmx.html' %}


{% endblock %}