<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">
    {% include 'base/fonts.html' %}
    <meta name="viewport" content="width=device-width">
    <title>Telfirm Hospital Management System.</title>
    <script src="{% static 'js/htmx.js' %}"></script>
    <meta name="description" content="Transform healthcare administration with Telfirm Hospital Management System. Streamline patient care and optimize operations.">
    <meta property="og:title" content="Telfirm Hospital Management System"> 
    <meta property="og:url" content="{{request.build_absolute_uri}}"> 
    <meta property="og:description" content="OG Transform healthcare administration with Telfirm Hospital Management System. Streamline patient care and optimize operations.">  
    <meta property="og:image" content="{% static 'images/180.png' %}"> 
    <meta property="og:image:alt" content="Telfirm">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="large-image-twitter.jpg"> 
    <link rel="canonical" href="{{request.build_absolute_uri}}"> 
    <link rel="icon" href="{% static 'images/favicon.ico'%}">
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static 'images/180.png' %}">
{% include 'base/pwa.html' %}    
    <link rel="stylesheet" href="{% static 'css/output.css' %}"> 

    

</head>
<body id="body">
    









</body>
</html>