<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">
    {% include 'base/fonts.html' %}
    <meta name="viewport" content="width=device-width">
    <title>Telfirm Hospital Management System.</title>
    <script src="{% static 'js/htmx.js' %}"></script>
    <meta name="description" content="Transform healthcare administration with Telfirm Hospital Management System. Streamline patient care and optimize operations.">
    <meta property="og:title" content="Telfirm Hospital Management System"> 
    <meta property="og:url" content="{{request.build_absolute_uri}}"> 
    <meta property="og:description" content="OG Transform healthcare administration with Telfirm Hospital Management System. Streamline patient care and optimize operations.">  
    <meta property="og:image" content="{% static 'images/180.png' %}"> 
    <meta property="og:image:alt" content="Telfirm">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="large-image-twitter.jpg"> 
    <link rel="canonical" href="{{request.build_absolute_uri}}"> 
    <link rel="icon" href="{% static 'images/favicon.ico'%}">
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static 'images/180.png' %}">
{% include 'base/pwa.html' %}    
    <link rel="stylesheet" href="{% static 'css/output.css' %}"> 

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Telfirm Hospital Management System.",
        "image": [
          "{% static 'images/512.png' %}"
         ],
        "description": "Transform healthcare administration with Telfirm Hospital Management System. Streamline patient care and optimize operations.",
        "sku": "telfirm-v1.1",
        "mpn": "57FA1DD1",
        "brand": {
          "@type": "Brand",
          "name": "Telfirm™"
        },
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": 4,
            "bestRating": 5
          },
          "author": {
            "@type": "Person",
            "name": "Mulindwa Raymond"
          }
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": 4.4,
          "reviewCount": 987
        },
        "offers": {
          "@type": "AggregateOffer",
          "offerCount": 5,
          "lowPrice": 159.99,
          "highPrice": 599.99,
          "priceCurrency": "USD"
        }
      }
    </script>
  
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://www.waanverse.com/",
      "sameAs": "https://www.linkedin.com/company/waanverse/",
      "logo": "{% static 'images/waanverse.png' %}",
      "name": "Waanverse Corp.",
      "description": "Creating new a world through Technology for everyone / Waanverse.",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Kampala",
        "addressLocality": "Kampala",
        "addressCountry": "UG",
        "addressRegion": "Kampala",
        "postalCode": "1001"
      },
      "contactPoint": {
        "@type": "ContactPoint",
        "email": "support@waanverse.com",
        "telephone": "+256779730256"
      }
    }
    </script>
  


</head>
<body id="body">
    






<header>

<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{% static 'images/logo.svg' %}" class="h-10 w-10" alt="Telfirm HMS Logo" />
            <span class="self-center text-2xl font-light whitespace-nowrap dark:text-white">Telfirm HMS</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a href="tel:+256779730256" class="text-sm  text-gray-500 dark:text-white hover:underline">(+256) 779730256</a>
            <a href="{% url 'login' %}" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Login</a>
        </div>
    </div>
</nav>
<nav class="bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">About Telfirm™</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Documentation</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Support</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



</header>









    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-12">
            <h1 class="mb-4 text-4xl uppercase text-gray-700 dark:text-white">Telfirm Hospital Management System.</h1>
            <p class="mb-8 font-normal text-gray-500 dark:text-gray-400">Your Partner in Transforming Healthcare with Innovative Software and Technology solutions</p>
        </div>
    </section>
    
    
    <section class="bg-gray-100 dark:bg-gray-900">
        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <img class="w-full block rounded-xl" src="{% static 'images/intro.jpg' %}" alt="Health Management System">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-4xl tracking-tight  text-gray-900 dark:text-white">Empowering Health Through Innovative Technology</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Waanverse Corp. is your partner in advancing healthcare solutions. We're dedicated to creating cutting-edge software that enhances patient care, improves medical processes, and connects healthcare professionals worldwide.</p>
            </div>
        </div>
    </section>
    
    <section class="bg-white dark:bg-gray-800">
        <div class="pt-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
            <h2 class="mb-4 text-4xl text-gray-700 dark:text-white">Introducing Telfirm: Your Complete Hospital Management Solution</h2>
            <p class="mb-8 text-lg font-normal text-gray-500   dark:text-gray-400">Telfirm is our cutting-edge hospital management system designed to streamline healthcare operations, enhance patient care, and empower medical professionals. With Telfirm, managing your hospital has never been more efficient and effective.</p>
        </div>
    </section>
    
    
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-12">
            <h2 class="mb-4 text-2xl  text-gray-700 dark:text-white">Transforming Healthcare with Telfirm</h2>
            <p class="mb-8 font-normal text-gray-500 dark:text-gray-400">At Waanverse Corporation, we're revolutionizing the healthcare industry with Telfirm, our advanced hospital management system. Telfirm is designed to empower healthcare providers and hospital owners to deliver exceptional patient care while optimizing operations.</p>
            
            <p class="mb-8 font-normal text-gray-500   dark:text-gray-400">Our mission is to provide you with the tools and technology you need to streamline your hospital's daily operations, enhance patient outcomes, and drive efficiency throughout your facility. With Telfirm, you'll experience:</p>
            
            <ul class="mb-8 px-4 list-disc text-left text-gray-500  dark:text-gray-400">
                <li>Effortless Patient Management</li>
                <li>Seamless Administrative Workflows</li>
                <li>Real-time Data Insights</li>
                <li>Enhanced Collaboration Among Healthcare Teams</li>
                <li>Improved Decision-making and Patient Care</li>
            </ul>
    
            <p class="mb-8 font-normal text-gray-500   dark:text-gray-400">Join us in this transformative journey toward a future where hospitals are equipped with cutting-edge technology to provide the best care to patients while optimizing resources. Discover how Telfirm can make a difference in your hospital's success.</p>
        </div>
    </section>
    
    
    
<footer class="bg-white border-t border-gray-200 shadow dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023.Telfirm™. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="mailto:support@waanverse.com" class="hover:underline">Leave us an Email</a>
        </li>
    </ul>
    </div>
</footer>


</body>
</html>