<!DOCTYPE html>
<html lang="en" class="no-js">
<head>{% load static %}
    <meta charset="UTF-8">
    {% include 'base/fonts.html' %}
    <meta name="viewport" content="width=device-width">
    <title>Telfirm Hospital Management System.</title>
    <script src="{% static 'js/htmx.js' %}"></script>
    <script type="module">
            document.documentElement.classList.remove('no-js');
            document.documentElement.classList.add('js');
    </script>
    <meta name="description" content="Transform healthcare administration with Telfirm Hospital Management System. Streamline patient care and optimize operations.">
    <meta property="og:title" content="Telfirm Hospital Management System"> 
    <meta property="og:url" content="{{request.build_absolute_uri}}"> 
    <meta property="og:description" content="OG Transform healthcare administration with Telfirm Hospital Management System. Streamline patient care and optimize operations.">  
    <meta property="og:image" content="{% static 'images/180.png' %}"> 
    <meta property="og:image:alt" content="Telfirm">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="large-image-twitter.jpg"> 
    <link rel="canonical" href="{{request.build_absolute_uri}}"> 
    <link rel="icon" href="{% static 'images/favicon.ico'%}">
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static 'images/180.png' %}">
{% include 'base/pwa.html' %}    
    <link rel="stylesheet" href="{% static 'css/output.css' %}"> 
</head>
<body id="body">
    
    <header>
        <nav class="bg-white border border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <a href="{% url 'home' %}" hx-get="{% url 'home' %}" hx-target="#body" hx-push-url="true" hx-swap="outerHTML transition:true" hx-indicator="#loader" class="flex items-center">
                    <img src="{% static 'images/logo.svg' %}" class="mr-3 h-6 sm:h-9" alt="Waanverse Corp Logo" />
                    <span class="self-center text-xl  whitespace-nowrap dark:text-white">Telfirm</span>
                </a>
                <div class="flex items-center gap-3">
                    <a href="{% url 'login' %}"  class="px-4 py-1.5 font-semibold bg-primary-500 text-white rounded-md text-sm" rel="nofollow">Login</a>
                    <a href="mailto:support@waanverse.com" class="text-sm"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                      </svg>
                      </a>
                </div>
            </div>
        </nav>
    </header>




    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-12">
            <h1 class="mb-4 text-xl uppercase font-medium tracking-tight leading-none text-gray-900  dark:text-white">Telfirm Hospital Management System.</h1>
            <p class="mb-8 text-3xl font-normal text-gray-500 dark:text-gray-400">Your Partner in Transforming Healthcare with Innovative Software and Technology solutions</p>
            <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a href="mailto:support@waanverse.com" class="btn btn-secondary">Email Us</a>
            </div>
        </div>
    </section>
    
    
    <section class="bg-gray-100 dark:bg-gray-900">
        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <img class="w-full block" src="{% static 'images/intro.jpg' %}" alt="dashboard ">
            <div class="mt-4 md:mt-0">
                <h2 class="mb-4 text-4xl tracking-tight  text-gray-900 dark:text-white">Empowering Health Through Innovative Technology</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Waanverse Corporation is your partner in advancing healthcare solutions. We're dedicated to creating cutting-edge software that enhances patient care, improves medical processes, and connects healthcare professionals worldwide.</p>
            </div>
        </div>
    </section>
    
    <section class="bg-white dark:bg-gray-800">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
            <h2 class="mb-4 text-3xl font-medium tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Introducing Telfirm: Your Complete Hospital Management Solution</h2>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl  dark:text-gray-400">Telfirm is our cutting-edge hospital management system designed to streamline healthcare operations, enhance patient care, and empower medical professionals. With Telfirm, managing your hospital has never been more efficient and effective.</p>
        </div>
    </section>
    
    
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-12">
            <h2 class="mb-4 text-4xl font-medium tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Transforming Healthcare with Telfirm</h2>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">At Waanverse Corporation, we're revolutionizing the healthcare industry with Telfirm, our advanced hospital management system. Telfirm is designed to empower healthcare providers and hospital owners to deliver exceptional patient care while optimizing operations.</p>
            
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl  dark:text-gray-400">Our mission is to provide you with the tools and technology you need to streamline your hospital's daily operations, enhance patient outcomes, and drive efficiency throughout your facility. With Telfirm, you'll experience:</p>
            
            <ul class="mb-8 px-4 text-lg list-disc text-left text-gray-500 lg:text-xl  dark:text-gray-400">
                <li>Effortless Patient Management</li>
                <li>Seamless Administrative Workflows</li>
                <li>Real-time Data Insights</li>
                <li>Enhanced Collaboration Among Healthcare Teams</li>
                <li>Improved Decision-making and Patient Care</li>
            </ul>
    
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl  dark:text-gray-400">Join us in this transformative journey toward a future where hospitals are equipped with cutting-edge technology to provide the best care to patients while optimizing resources. Discover how Telfirm can make a difference in your hospital's success.</p>
        </div>
    </section>
    
    
    
<footer class="bg-white border-t border-gray-200 shadow dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023.Telfirm™. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="mailto:support@waanverse.com" class="hover:underline">Leave us an Email</a>
        </li>
    </ul>
    </div>
</footer>


</body>
</html>