{% extends 'base/base.html' %}
{% load redotags %}
{% block head %}
    <title>Patient Management | MedSync HMS</title>
{% endblock %}

{% block content %}
<section class="p-8">
    <h2 class="text-3xl font-semibold mb-6">Patient Management</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="p-4 border border-gray-300">
            <a href="">
                <h2>Register new patient</h2>
            </a>
        </div>
    </div>
</section>
{% endblock %}
